.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: white;
  text-align: center;
}
.background-image-page::before
{
    background-image:url(./../assets/img/Aatrox_0.jpg);
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 1.2;
}
@media(min-width:1024px) {
  .background-image-page {
  min-width: 50%;
  min-height: 12em;
  }

}
